.table {
  position: absolute;
  width: 80%;
  left: 15%;
  top: 35%
}

.searchText,.form-control {
  position: absolute;
  width: 80%;
  left: 15%;
  top: 25%
}

.buttons-container {
 margin-left: 3%;
}

h1{
  text-align: center;
}

app-header{
  float: left;
}
